@media only screen and (min-width: 1px) {
    div .background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        background-size: contain;
        padding: 1rem;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a9000000',GradientType=0);
    }
}
@media only screen and (min-width: 768px) {
    div .background-md {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        background-size: contain;
        padding: 1rem;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a9000000',GradientType=0);
    }
}
@media only screen and (min-width: 992px) {
    div .background-lg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        background-size: contain;
        padding: 1rem;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a9000000',GradientType=0);
    }
}
@media only screen and (min-width: 1200px) {
    div .background-xl {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        background-size: contain;
        padding: 1rem;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a9000000',GradientType=0);
    }
}
@media only screen and (min-width: 1px) {
    hr {
        color: #e8e8e8 !important;
        opacity: 1 !important;
        color: #e8e8e8 !important;
        opacity: 1 !important;
        border-width: 1px !important;
    }
    .border-line {
        border-bottom: 1px solid #e8e8e8 !important;
    }
    .border-line::before {
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 50px;
        height: 4px;
        background-color: inherit;
        content: "";
    }
    .border-line::after {
        position: absolute;
        bottom: 5px;
        width: 15px;
        height: 4px;
        background-color: inherit;
        content: "";
        left: 53px;
    }
    label-infinite::before {
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 50px;
        height: 4px;
        background-color: inherit;
        content: "";
    }
    label-infinite::after {
        position: absolute;
        bottom: 5px;
        width: 15px;
        height: 4px;
        background-color: inherit;
        content: "";
        left: 53px;
    }
}
@media only screen and (min-width: 1px) {
    .text-first-capitalize {
        display: inline-block;
    }
    .text-first-capitalize:first-letter {
        text-transform: uppercase;
    }
}
@media only screen and (min-width: 1px) {
    .link-social-editor {
        font-size: 1.5em !important;
    }
    .link-social {
        font-size: 1em !important;
    }
    .link-social.link-social-facebook:hover {
        background-color: #1877f2 !important;
        border-color: #1877f2 !important;
        color: #fff !important;
    }
    .link-social.link-social-twitter:hover {
        background-color: #1da1f2 !important;
        border-color: #1da1f2 !important;
        color: #fff !important;
    }
    .link-social.link-social-whatsapp:hover {
        background-color: #25d366 !important;
        border-color: #25d366 !important;
        color: #fff !important;
    }
    .link-social.link-social-linkedin:hover {
        background-color: #0a66c2 !important;
        border-color: #0a66c2 !important;
        color: #fff !important;
    }
    .link-social.link-social-primary:hover {
        color: #fff !important;
        background-color: var(--bs-primary) !important;
        border-color: var(--bs-primary) !important;
    }
}
@media only screen and (max-width: 767px) {
    link-social {
        margin-right: 0.5em !important;
    }
    link-social:last-child {
        margin-right: 0 !important;
    }
}
@media only screen and (min-width: 992px) {
    .link-social {
        margin-bottom: 0.5em !important;
    }
}
@media only screen and (max-width: 991px) {
    .single-side-links .title-post {
        font-size: 1.25em !important;
    }
}
.search-form button[type="submit"] {
    border: 1px solid transparent;
    background: transparent;
    color: var(--bs-primary);
}
@media only screen and (min-width: 1px) {
    .border-xs {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-xs-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-xs-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 1px) and (max-width: 575px) {
    .border-only-xs {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-xs-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-xs-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 576px) {
    .border-sm {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-sm-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-sm-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .border-only-sm {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-sm-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-sm-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 768px) {
    .border-md {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-md-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-md-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .border-only-md {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-md-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-md-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 992px) {
    .border-lg {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-lg-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-lg-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .border-only-lg {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-lg-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-lg-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 1200px) {
    .border-xl {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-xl-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-xl-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .border-only-xl {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-xl-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-xl-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 1400px) {
    .border-xxl {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-xxl-top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-xxl-bottom {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 1px) {
    .border-xs-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-xs-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (max-width: 575px) {
    .border-max-xs-start {
        border-border-lg-end: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-max-xs-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 1px) and (max-width: 575px) {
    .border-only-xs-start {
        border-border-lg-end: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-xs-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 576px) {
    .border-sm-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-sm-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (max-width: 767px) {
    .border-max-sm-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-max-sm-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .border-only-sm-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-sm-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 768px) {
    .border-md-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-md-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (max-width: 991px) {
    .border-max-md-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-max-md-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .border-only-md-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-md-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 992px) {
    .border-lg-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-lg-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (max-width: 1199px) {
    .border-max-lg-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-max-lg-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .border-only-lg-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-lg-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 1200px) {
    .border-xl-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-xl-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (max-width: 1399px) {
    .border-max-xl-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-max-xl-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .border-only-xl-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-only-xl-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media only screen and (min-width: 1400px) {
    .border-xxl-start {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
    .border-xxl-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
/* ================================================================== *//* Image Background */
	@media only screen and (min-width: 1px){
		div .background {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: block;
			background-size: contain;
			padding:1rem;
			/*height:60%;*/
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a9000000',GradientType=0 );
		}	
	}
	@media only screen and (min-width: 768px) {/*(md)*/
		div .background-md {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: block;
			background-size: contain;
			padding:1rem;
			/*height:60%;*/
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a9000000',GradientType=0 );
		}
	}
	@media only screen and (min-width: 992px) {/*(lg)*/
		div .background-lg {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: block;
			background-size: contain;
			padding:1rem;
			/*height:60%;*/
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a9000000',GradientType=0 );
		}
	}
	@media only screen and (min-width: 1200px){/*(xl)*/
		div .background-xl {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: block;
			background-size: contain;
			padding:1rem;
			/*height:60%;*/
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a9000000',GradientType=0 );
		}
	}
/* ================================================================== *//* border-line */
	@media only screen and (min-width: 1px){
		hr{color:#e8e8e8 !important;opacity:1 !important;}
		hr{
			color:#e8e8e8 !important;
			opacity:1 !important;
			border-width: 1px !important;		
		}
		.border-line 			{
			border-bottom: 1px solid #e8e8e8 !important;
		}
		.border-line::before 	{
			position: absolute;
			left: 0;
			bottom: 5px;
			width: 50px;
			height: 4px;
			background-color: inherit;
			content: '';
		}
		.border-line::after		{
			position: absolute;
			bottom: 5px;
			width: 15px;
			height: 4px;
			background-color: inherit;
			content: '';
			left: 53px;
		}
		label-infinite::before 	{
			position: absolute;
			left: 0;
			bottom: 5px;
			width: 50px;
			height: 4px;
			background-color: inherit;
			content: '';
		}
		label-infinite::after	{
			position: absolute;
			bottom: 5px;
			width: 15px;
			height: 4px;
			background-color: inherit;
			content: '';
			left: 53px;
		}
	}
/* ================================================================== *//* Text First Capitalize */
	@media only screen and (min-width: 1px){
		.text-first-capitalize 				{
			display:inline-block
		}
		.text-first-capitalize:first-letter {
			text-transform:uppercase
		}
	}
/* ================================================================== *//* Linst-in-responsive*/
	@media only screen and (min-width: 1px){
		.link-social-editor{
			font-size: 1.5em !important;
		}
		.link-social{
			font-size: 1em !important;
		}
		.link-social.link-social-facebook:hover {
			background-color:#1877F2 !important;
			border-color:#1877F2 !important;
			color:white !important;
		}
		.link-social.link-social-twitter:hover {
			background-color:#1DA1F2 !important;
			border-color:#1DA1F2 !important;
			color:white !important;
		}
		.link-social.link-social-whatsapp:hover {
			background-color:#25D366 !important;
			border-color:#25D366 !important;
			color:white !important;
		}
		.link-social.link-social-linkedin:hover {
			background-color:#0A66C2 !important;
			border-color:#0A66C2 !important;
			color:white !important;
		}
		.link-social.link-social-primary:hover {
			color:white !important;
			background-color:var(--bs-primary)!important;
			border-color:var(--bs-primary)!important;
		}
	}
	@media only screen and (max-width: 767px){/*(max-sm)*/
		link-social{
			margin-right:0.5em !important;
		}
		link-social:last-child{
			margin-right:0 !important;
		}		
	}
	@media only screen and (min-width: 992px) {/*(lg)*/
		.link-social{
			margin-bottom:0.5em !important;
		}
	}
/* ================================================================== *//* Tipografy */
	@media only screen and (max-width: 991px) {/*(max-md)*/
		.single-side-links .title-post{
			font-size: 1.25em !important;
		}
	}
/* ================================================================== *//* search form */
	@media only screen and (min-width: 1px){
		.search-form button[type="submit"]{border: 1px solid transparent;background: transparent;color:var(--bs-primary);}
	}
/* ================================================================== *//* */
	@media only screen and (min-width: 1px){}
	/*mobile (xs)*/
	@media only screen and (max-width: 575px){/*(xs)*/}
	@media only screen and (max-width: 575px){/*(max-xs)*/}
	@media only screen and (min-width: 1px) and (max-width: 575px){/*(only-xs)*/}
	/*tablet - (sm / max-sm / only-sm)*/
	@media only screen and (min-width: 576px){/*(sm)*/}
	@media only screen and (max-width: 767px){/*(max-sm)*/}
	@media only screen and (min-width: 576px) and (max-width: 767px){/*(only-sm)*/}
	/*tablet - (md / max-md / only-md)*/
	@media only screen and (min-width: 768px) {/*(md)*/}
	@media only screen and (max-width: 991px) {/*(max-md)*/}
	@media only screen and (min-width: 768px) and (max-width: 991px){/*(only-md)*/}
	/*desktop - (lg / max-lg / only-lg)*/
	@media only screen and (min-width: 992px) {/*(lg)*/}
	@media only screen and (max-width: 1199px){/*(max-lg)*/}
	@media only screen and (min-width: 992px) and (max-width: 1199px){/*(only-lg)*/}
	/*desktop - (xl / max-xl / only-xl)*/
	@media only screen and (min-width: 1200px){/*(xl)*/}
	@media only screen and (max-width: 1399px){/*(max-xl)*/}
	@media only screen and (min-width: 1200px)and (max-width: 1399px){/*(only-xl)*/}
	/*desktop - (xxl)*/
	@media only screen and (min-width: 1400px){/*(xxl)*/}
/* ================================================================== *//* Deprecate */
	@media only screen and (min-width: 1px){/**/}
	